/*Default tags*/
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Poppins;
}

.content-holder
{
	width:100%;
	height:auto;
	padding:5px;
}

.content-holder.color
{
	background: linear-gradient(56deg,#006ca7,#1e4d92);
}

.my-image
{

	width:100px;
	padding:19px;
	height:auto;
	margin:0 auto;
	border:1px solid #eee;
	border-radius:50%;
	background:#fff;
	margin-top:15px;
}

.my-image img
{
	width:100%;
}

.about-me
{
	padding:0;
	margin:0px;
	width:100%;
	height:auto;
	padding:5px;
	background: linear-gradient(56deg,#006ca7,#1e4d92);
	-webkit-box-shadow: -3px -16px 30px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px -16px 30px -12px rgba(0,0,0,0.75);
	box-shadow: -3px -16px 30px -12px rgba(0,0,0,0.75);
}

.about-me h1
{
	height:60px;
	text-align:center;
	color:#fff;


}


p
{
	width:60%;
	margin:10px  auto;
	color:#9c9898;
	font-size:20px;
}

.skill-text h2
{
	text-align:center;
}



.owl-container
{
	width:78%;
	margin:0 auto;
}

.content-holder.color.projects 
{
	width:100%;
	
}

.content-holder.color.projects h1
{
	text-align:center;
	color:white;
	font-size:49px;
}

.content-holder.color.projects .project
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:#101010;
	font-size:28px;
}

.content-holder.color.projects .project span
{
	color:#fff;
}

.content-holder.color.projects .project .project-link
{
	font-size:19px;
}

.content-holder.color.projects .project .project-link a
{
	color:#1dff26;
	text-decoration:none;
}

.content-holder.color.projects .project .project-link a:hover
{
	color:#03A9F4;
	text-decoration:underline;
}

.certificates
{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.certificates h1
{
	text-align:center;
}

.certificates a
{
	text-decoration:none;
	color:brown;
}

.certificates a:hover
{
	color:#822525
}

.contact
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	padding:16px;
}

.contact h1
{
	color:#fff;
}

.contact form
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:80%;
}
.contact form input
{
	margin-top:8px;
	border-radius:0;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;

}

.contact form textarea
{
	border-radius:0;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;
}

@media screen and (max-width:414px)
{
	.certificates a
	{
		font-size:12px;
		
	}
}